<div class="row">
	<div class="12 large colum panel">
	  <h4>Library</h4>
	</div>
</div>

<div class="row">
<table>

  <tbody>
    <% @my_books.each do |book| %>
    <tr>
      <td><img src=<%= book.cover %>> </td>
      <td><%= book.title %></td>
      <td><a href="#" data-reveal-id="<%= book.id %>_description" id="desc_button" class="button small">Description</a></td>
      <td>
          <%= link_to "Download", {:controller=>"books", :action =>"download", :download_book=>book.id},
                                 {:class =>"button small"} %>
      </td>
      <td>                          
         <%= link_to "Remove", {:controller =>"books", :action =>"remove", :remove_book=>book.id}, 
                               {:class =>"button alert small"} %>
      </td>
    </tr>
     <div id="<%= book.id %>_description" class="reveal-modal">
        <p class="lead"><%= book.title %> </p>
        <p><%= book.description %></p>
        <a class="close-reveal-modal">&#215;</a>
     </div>
    <% end %>
  </tbody>
</table>
</div>

