<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "BookHero" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
 


<div class="row">
  <!-- <div class="contain-to-grid">   -->
    <div class="large-12 columns">
       <div class="contain-to-grid fixed"> 
        <nav class="top-bar">
          <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
              <h1><%= link_to "BookHero", :controller=>"books", :action=>"main" %></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <ul class="left">
              <li class="divider"></li>
              <li><%= link_to "Books", :controller=>"books", :action=>"list" %></li>
              <!-- Future functionality -->
              <!-- <li class="has-dropdown"><%= link_to "Books", :controller=>"books", :action=>"list" %>
                <ul class="dropdown">
                  <li><label>Level One</label></li>
                  <li><a href="#">Sub-item 1</a></li>
                  <li><a href="#">Sub-item 2</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Sub-item 3</a></li>
                  <li class="has-dropdown"><a href="#">Sub-item 4</a>

                    <ul class="dropdown">
                      <li><label>Level Two</label></li>
                      <li class="has-dropdown"><a href="#">Sub-item 1</a>

                        <ul class="dropdown">
                          <li><label>Level Three</label></li>
                          <li class="has-dropdown"><a href="#">Sub-item 1</a>

                            <ul class="dropdown">
                              <li><label>Level Four</label></li>
                              <li><a href="#">Sub-item 1</a></li>
                            </ul>
                          </li>
                          <li><a href="#">Sub-item 2</a></li>
                          <li><a href="#">Sub-item 3</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Sub-item 4</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Sub-item 2</a></li>
                      <li><a href="#">Sub-item 3</a></li>
                      <li><a href="#">Sub-item 4</a>
                    </ul>
                  </li>
                  <li><a href="#">Sub-item 5</a></li>
                </ul>
              </li> -->

            </ul>

            <ul class="left">
              <li class="divider hide-for-small"></li>
              <li><a href="#" data-reveal-id="scanNow" id="scanNowButton" name="scanNowButton">Scan</a></li>
               <li class="divider"></li>
            </ul>

            <!-- Right Nav Section -->
         
            <ul class="right">
               <li class="divider hide-for-small"></li>
               <!-- Future functionality -->
              <li><form method="post" action="/books/search"><input type=text name="search" placeholder="Search"></form></li>
              <li class="divider hide-for-small"></li>
              <li><%= link_to "Settings", :controller=>"config", :action=>"settings" %></li>
            </ul>

          </section>
        </nav>

  
      </div>
      </div>
    </div>



    <%= yield %>

    
    <%= javascript_include_tag "application" %>
    <script>
      $("#scanNowButton").bind('click',function(){
      $.post("/books/scan");
      });
    </script>
    <div id="scanNow" class="reveal-modal">
      <!-- Hello there source code reader  :) -->
        <p class="lead">Scanning for new books...</p>
        <p>You can close this and check under books</p>
         <a class="close-reveal-modal">&#215;</a>
    </div>
  </body>
</html>
